<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <h2>Alara-Lukagro contact</h2>
        <br />
        <p id="sixteen"class="col-sm-8">Heeft u een vraag over één van onze producten, projecten, geluid of over Alara-Lukagro in het algemeen. Neem vrijblijvend contact op, wij helpen u graag verder. U kunt gebruik maken van onderstaand contactformulier of neem telefonisch contact met ons op via +31 (0) 184 661 700. Ons kantoor is op werkdagen geopend van 8.00 uur tot 17.00 uur.</p>
    </div>
    <br />
    <br />

    <div class="container-fluid">
        <div class="col-md-2">
            <p id="bold">Alara-Lukagro bv</p>
            <p>Huijgensweg 3</p>
            <p>2964 LL Groot-Ammers</p>
            <p>Postbus 15</p>
            <p>2964 ZG Groot-Ammers</p>
            <p id="cursive">T 0184 - 661700</p>
            <p id="cursive">E info@alara-lukagro.com</p>
        </div>

        <div class="col-md-2">
            <p id="bold">DEUTSCHLAND</p>
            <p id="bold">Alara-Lukagro GmbH</p>
            <p>Ruhrallee 9</p>
            <p>D - 44139 Dortmund, NRW</p>
            <p id="cursive">T +49 231 9525144</p>
        </div>

        <div class="col-md-2">
            <p id="bold">UK & IRELAND</p>
            <p id="cursive">T +44 73 76 36 22 87</p>
        </div>

        <div class="col-md-2">
            <p id="bold">BELGIË (partners)</p>
            <p id="bold">Dox Acoustics</p>
            <p>Starrenhoflaan 43-A04</p>
            <p>2950 Kapellen</p>
            <p id="cursive">doxacoustics.be</p>
            <p id="cursive">T +32 3 309 1422</p>
        </div>
    </div>

</body>
</html>

<style>
    p{
        font-size: 14px;
    }

    #sixteen{
        font-size: 16px;
    }
    
    #bold{
        font-weight: bold;
        font-size: 16px;

    }

    #cursive{
        font-style: italic;
        color: orange;
    }
</style>