<!DOCTYPE html>
<html lang="en">
<head>
    <title>Over ons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <h2>Over ons</h2>
        <p class="col-sm-8" id="overons">De wereld stiller maken. Veiliger. Gezonder. Voor nu, onze toekomst en die van de generaties die ons volgen. Voor zowel mens als milieu. Dat is waar Alara-Lukagro voor staat. Onze uitgebreide theoretische en praktijk kennis op het gebied van geluidsbeheersing, zetten we wereldwijd in voor écht goede oplossingen voor onze klanten.</p>        
    </div>

    <div class="container-fluid">
        <h2>Productie in eigen huis</h2>
        <p class="col-sm-8" id="overons">Van uitgebreid deskundig advies & ontwerp tot montage op locatie en service. Alara-Lukagro heeft alles in huis om van een project een succes te maken. In onze productiefaciliteit van circa 20.000 m2 kunnen producten, waaronder omkastingen, deuren en roosters, exact naar de wensen en behoeftes van onze klanten worden gefabriceerd.</p>
    </div>

</body>
</html>

<style>
#overons{
    font-size:16px;
}
</style>